repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
        require_serial: true
      - id: pytest
        name: pytest
        entry: uv run pytest --cov=app --cov-fail-under=80 tests
        language: system
        pass_filenames: false
        always_run: true
